<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Импорт-данных-из-SQL-и-выгрузка-в-csv-формат-для-работы-в-Tableau" data-toc-modified-id="Импорт-данных-из-SQL-и-выгрузка-в-csv-формат-для-работы-в-Tableau-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Импорт данных из SQL и выгрузка в csv-формат для работы в Tableau</a></span></li><li><span><a href="#Ссылка-на-дашборд-и-презентацию" data-toc-modified-id="Ссылка-на-дашборд-и-презентацию-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Ссылка на дашборд и презентацию</a></span></li></ul></div>

## Импорт данных из SQL и выгрузка в csv-формат для работы в Tableau

In [1]:
# импортируем библиотеки
import pandas as pd
from sqlalchemy import create_engine

#создаем коннекцию к базе 
db_config = {'user': 'praktikum_student', # имя пользователя
            'pwd': 'Sdf4$2;d-d30pp', # пароль
            'host': 'rc1b-wcoijxj3yxfsf3fs.mdb.yandexcloud.net',
            'port': 6432, # порт подключения
            'db': 'data-analyst-zen-project-db'} # название базы данных

connection_string = 'postgresql://{}:{}@{}:{}/{}'.format(db_config['user'],
                                                db_config['pwd'],
                                                db_config['host'],
                                                db_config['port'],
                                                db_config['db'])

engine = create_engine(connection_string) 

#формируем текст запроса к базе SQL
query = ''' SELECT * 
        FROM dash_visits
    '''
#Сохраняем в переменную dash_visits данные, выгруженные
#из SQL в соответствии с запросом
dash_visits = pd.io.sql.read_sql(query, con = engine) 

dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

In [2]:
dash_visits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30745 entries, 0 to 30744
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   record_id     30745 non-null  int64
 1   item_topic    30745 non-null  object
 2   source_topic  30745 non-null  object
 3   age_segment   30745 non-null  object
 4   dt            30745 non-null  datetime64[ns]
 5   visits        30745 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 1.4+ MB

In [3]:
#выгружаем файл в формате csv для работы в Tableau
dash_visits.to_csv(r"dash_visits.csv")

In [4]:

dash_visits.sort_values(by=['item_topic','source_topic'])
dash_visits.head()

   record_id item_topic source_topic age_segment                  dt  visits
0    1040597     Деньги         Авто       18-25 2019-09-24 18:32:00       3
1    1040598     Деньги         Авто       18-25 2019-09-24 18:35:00       1
2    1040599     Деньги         Авто       18-25 2019-09-24 18:54:00       4
3    1040600     Деньги         Авто       18-25 2019-09-24 18:55:00      17
4    1040601     Деньги         Авто       18-25 2019-09-24 18:56:00      27

## Ссылка на дашборд и презентацию

Ссылка на дашборд:

https://public.tableau.com/views/Dashboard_YandexDzen_16502954942970/Dashboard?:language=en-US&publish=yes&:display_count=n&:origin=viz_share_link

Ссылка на презентацию:

https://docs.google.com/presentation/d/1RxW3CdK13AE-M9Z73peTpcg_TnwIQABjsBLF4KRGH7c/edit#slide=id.g12213b04d86_0_6